# Supabase Database
DATABASE_URL=postgresql://postgres.hhxpvlfnovtigamqvjhb:YOUR_PASSWORD_HERE@aws-0-eu-central-1.pooler.supabase.com:6543/postgres

# Supabase Auth
NEXT_PUBLIC_SUPABASE_URL=https://hhxpvlfnovtigamqvjhb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

# App domain
NEXT_PUBLIC_APP_URL=https://app.kbteutonia.de
NEXT_PUBLIC_APP_VERSION=0.2.78
